* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 0 20px;
  background: #6532cb;
}

.nav > * {
  padding-right: 30px;
  /* background-color: blue; */
}

.nav .nav-logo {
  color: #cc6d00;
  font-weight: bold;
  font-size: 1.5em;
  /* padding: 0 10px; */
  padding-left: 10px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.main {
  padding: 0 20px;
}

table {
  text-align: center;
  width: 100%;
}

td,
th {
  padding: 5px;
}

td {
  border-top: 1px solid black;
}

.symbolName {
  color: #99cc00;
  font-weight: bold;
  font-size: 1.0em;
}

.closePrice {
  font-weight: bold;
}

.categoryButtons {
  margin: 10px;
  padding: 5px;
  width: 70%;
}

.categoryButtons.selected {
  /* outline-color: transparent; */
  border: 2px solid #a16046 !important;
  font-weight: 1000;
  background-color: #d8b6a8;
}

.categoryButtons:hover{
  transform: scale(1.2);
}

.cat {
  background-color: rgb(207, 202, 175);
  text-align: center;
}

.dash {
  background-color: rgb(196, 219, 240);
  /* text-align: center; */
}

.chart {
  background-color: rgb(221, 227, 236);
  /* text-align: center; */
}

.letsgo {
  margin: 10px;
  padding: 0 20px;
}

.newsContainer {
  display: flex;
}

.card {
  margin: 10px;
}

.mainlist {
  height: 110vh;
  overflow-y: scroll;
  text-align: center;
  background-color: rgb(196, 219, 240);
  border-color: 5px solid black; 
}

.mainlist::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px grey;
  border-radius: 5px;
  background-color: rgb(254, 255, 254);

}

.mainlist::-webkit-scrollbar {
  width:12px;
  background-color: rgb(144, 151, 144);
}

.mainlist::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgb(121, 120, 120);

}

.watchlist {
  /* height: 50%; */
  /* position: absolute; */
  /* margin: 10px; */
  overflow-y: scroll;
  background-color: rgb(196, 219, 240);
  
 
}

.watchlist::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px grey; */
  border-radius: 10px;
  background-color: rgb(254, 255, 254);

}

.watchlist::-webkit-scrollbar {
  width:12px;
  background-color: rgb(144, 151, 144);
}

.watchlist::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: rgb(121, 120, 120);

}
